.main-container {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; 
}

.dashboard-container {
  background-color: #0D81D5;
  color: #ffffff;
  width: 80%;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
  box-sizing: border-box; 
}

.header {
  display: flex;
  justify-content: space-between;
}

.title-container {
  text-align: left;
}

.aquakeeper {
  font-size: 24px;
  color: #ffffff;
}

.keeper {
  color: #7dd3fc;
}

.subtitle {
  font-size: 64px;
  margin-top: 10px;
}

.description {
  font-size: 16px;
  margin-top: 20px;
}

.add-fish-btn {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.logo-container {
  margin-left: 20px;
}

.logo {
  width: 352px;
  height: 316px;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.menu-text {
  color: #000000;
  font-size: 40px;
  margin-bottom: 10px;
}

.menu-buttons-container {
  display: flex;
}

.menu-btn {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.aquarium-btn {
  background-color: #0D81D5;
}

.sales-btn {
  background-color: #0D81D5;
}

.sold-btn {
  background-color: #0D81D5;
}

.table-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap; 
}

.fish-table {
  background-color: #1a237e;
  border-radius: 15px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.fish-image {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.stock-info {
  color: #0e0d0d;
  margin-bottom: 10px;
}

.action-buttons {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  margin-top: 10px;
}

.add-stock-btn,
.detail-btn {
  background-color: #0F8FED;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px; 
}

.add-stock-btn:hover,
.detail-btn:hover {
  background-color: #0C7DB8;
}

.detail-btn-container {
  text-align: center;
  margin-top: 20px;
}

.detail-btn {
  background-color: #0D81D5;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

.detail-btn:hover {
  background-color: #0C7DB8;
}

.table-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 20px; 
}

.fish-table {
  background-color: #d1d8f1;
  border-radius: 15px;
  padding: 20px;
  width: calc(50% - 10px); 
  box-sizing: border-box;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.main-container {
  position: relative;
}

.logout-container {
  position: absolute;
  top: 10px; 
  right: 10px; 
}

.logout-btn {
  background-color: #ff0000; 
  color: #ffffff; 
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

.logout-btn:hover {
  background-color: #cc0000; 
}